body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
    background: crimson;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
